/*Container*/
#eje3{
    width: 95%;
    height: auto;
    margin:  2vh 2.5%;
    background: white;
    box-shadow: 0 0 2px black;
}
/*Contenedor Tablas*/
table{
    width: 100%;
    height: auto;
    margin-top: 5vh;
}
/*Tabla*/





